---
layout: base.njk
---
{% from "cta.njk" import button %}
<article class="prose">
  <div class="wrap">
    <p class="article-date">{{ page.date | readableDate }}</p>
    <h1>{{ title }}</h1>
    {{ content | safe }}
    {{ button("content-cta") }}
  </div>
</article>
